doctype

html(lang="ru-RU")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Test FunBox
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/main.css")

	body
		.content
			.content__inner
				.catalog
					.catalog__header
						.catalog__title Ты сегодня покормил кота?
					.catalog__product-list.product-list
						.product-list__inner

							-
								var products = [
									{
										type: "Сказочное заморское яство",
										name: "Нямушка",
										descr: "с говядиной",
										specs: [
											"<b>10</b> " + declOfNum(10, ["порция", "порции", "порций"]),
											"<b>1</b> " + declOfNum(1, ["мышь", "мыши", "мышей"]) + " в подарок"
										],
										weight: 0.5,
										img: "img/cat.png",
										imgTitle: "cat",
										imgAlt: "cat",
										extraDescr: "Тушенная говядинка высшего сорта.",
										outOfStock: "Печалька, с говядинкой закончился",
										disabled: false
									},
									{
										type: "Сказочное заморское яство",
										name: "Нямушка",
										descr: "с рыбой",
										specs: [
											"<b>40</b> " + declOfNum(40, ["порция", "порции", "порций"]),
											"<b>2</b> " + declOfNum(2, ["мышь", "мыши", "мышей"]) + " в подарок"
										],
										weight: 2,
										img: "img/cat.png",
										imgTitle: "cat",
										imgAlt: "cat",
										extraDescr: "Головы щучьи с чесноком да свежайшая сёмгушка.",
										outOfStock: "Печалька, с рыбкой закончился",
										disabled: false
									},
									{
										type: "Сказочное заморское яство",
										name: "Нямушка",
										descr: "с курой",
										specs: [
											"<b>100</b> " + declOfNum(100, ["порция", "порции", "порций"]),
											"<b>5</b> " + declOfNum(5, ["мышь", "мыши", "мышей"]) + " в подарок",
											"заказчик доволен"
										],
										weight: 5,
										img: "img/cat.png",
										imgTitle: "cat",
										imgAlt: "cat",
										extraDescr: "Курочка, приготовленная с овощами.",
										outOfStock: "Печалька, с курой закончился",
										disabled: true
									}
								];

								function declOfNum(number, titles) {  
									cases = [2, 0, 1, 1, 1, 2];  
									return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];  
								}

							each item, i in products
								.product-list__item.product-item(class=item.disabled ? "product-item_disabled" : "")
									label.product-item__card
										input.js-product-item(id="product-"+i type="checkbox" name="product-"+i disabled=item.disabled ? true : false)
										.product-item__wr
											.product-item__inn
												.product-item__text
													.product-item__type= item.type
													.product-item__name= item.name
													.product-item__descr= item.descr
													.product-item__specs
														each spec in item.specs
															.product-item__specs-item!= spec
												.product-item__weight
													.product-item__weight-val= item.weight
													.product-item__weight-unit кг
												img.product-item__img(src=item.img title=item.imgTitle alt=item.altTitle)
									.product-item__extra Чего сидишь? Порадуй котэ, #[label(for="product-"+i) купи.]
									.product-item__extra.product-item__extra_selected= item.extraDescr
									.product-item__extra.product-item__extra_disabled= item.outOfStock

		script(src="js/jquery.min.js")
		script(src="js/common.js")