@font-face {
    font-family: "Trebuchet MS"; 
    src: local('Trebuchet MS'),
    	 url("../fonts/TrebuchetMS/TrebuchetMS.woff2") format("woff2"),
         url("../fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Exo2-Thin"; 
    src: url("../fonts/exo2/Exo2-Thin.woff2") format("woff2"),
         url("../fonts/exo2/Exo2-Thin.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
}