$exo2: "Exo2-Thin", sans-serif;
$blue: #1698d9;
$pink: #d91667;
$grey: #b3b3b3;

@import 'fonts';

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.2;
	font-size: 14px;
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

.content {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%), url("../img/bg_pattern.jpg");
	background-size: 100%, 70px;
	display: table;

	&__inner {
		display: table-cell;
		vertical-align: middle;
		padding: 30px 10px;
	}
}

.catalog {

	&__header {
		font-family: $exo2;
		font-size: 36px;
		text-align: center;
		margin-bottom: 27px;
		line-height: 1;
	}
}

.product-list {
	max-width: 1120px;
	margin: auto;

	&__inner {
		margin: -20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media(max-width: 1099px) {
			justify-content: center;
		}

	}

	&__item {
		margin: 20px;
	}
}

.product-item {

	width: 100%;
	max-width: 320px;
	transition-property: transform;
	transition-duration: .1s;
	transform: perspective(1px) translateZ(0);
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__card {
		color: #666;
		display: block;
		cursor: pointer;
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		& > input[type="checkbox"] {
			display: none;
		}
	}
	
	&__wr {
		background: linear-gradient(135deg, transparent 31/568.595*100%, $blue 0) top left;
		border-radius: 10px;
		padding: 4px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	&__inn {
		padding-top: 20/320*100%;
		height: 100%;
		background: linear-gradient(135deg, transparent 30.5/568.595*100%, #fff 0) top left;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-grow: 1;
		height: auto;
	}

	&__text {
		padding: 0 45/312*100%;
	}

	&__type {
		font-size: 16px;
	}

	&__name {
		font-size: 48px;
		color: #000;
		font-weight: 700;
		margin-top: 8px;

		@media(max-width: 374px) {
			font-size: 36px;
		}
	}

	&__descr {
		color: #000;
		font-weight: 700;
		font-size: 24px;
	}

	&__specs {
		margin-top: 10px;
	}

	&__weight {
		background: $blue;
		color: #fff;
		border-radius: 50%;
		font-size: 42px;
		text-align: center;
		width: 80/42*1em;
		height: 80/42*1em;
		position: absolute;
		bottom: 10px;
		right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 0.95;
		z-index: 1;

		&-val {
			font-size: 1em;
		}

		&-unit {
			font-size: 21/42*1em;
		}
	}

	&__img {
		bottom: 0;
		left: 0;
		max-width: 83%;
		margin-top: 8px;
	}

	&__extra {
		color: #fff;
		font-size: 13px;
		text-align: center;
		margin-top: 15px;

		&_selected,
		&_disabled {
			display: none;
		}

		&_disabled {
			color: #ffff66;
		}

		label {
			color: $blue;
			border-bottom: 1px dashed $blue;
			cursor: pointer;
			font-weight: 700;
		}
	}


	&:not(&_disabled):hover {

		@media(min-width: 1100px) {
			transform: scale(1.025);
		}
		.product-item__wr {
			@media(min-width: 1100px) {
				filter: drop-shadow(0 0 20px $blue);
			}
		}
	}

	&_selected {
		.product-item__wr {
			background: linear-gradient(135deg, transparent 31/568.595*100%, $pink 0) top left;
		}

		&:not(&_disabled):hover {
			.product-item__wr {
				@media(min-width: 1100px) {
					filter: drop-shadow(0 0 20px $pink);
				}
			}
		}

		.product-item__extra {
			display: none;

			&_selected {
				display: block;
			}
		}

		.product-item__weight {
			background: $pink;
		}
	}

	&_disabled {

		.product-item__wr {
			background: linear-gradient(135deg, transparent 31/568.595*100%, $grey 0) top left;
		}

		.product-item__card {
			cursor: default;
		}

		.product-item__text,
		.product-item__img {
			opacity: 0.3;
		}

		.product-item__weight {
			background: $grey;
		}

		.product-item__extra {
			display: none;

			&_disabled {
				display: block;
			}
		}
	}
}